<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" th:href="@{css/style.min.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript">
function check()
{
	alert('Booking Confirmed.Visit Venus on Time');
}
</script>
</head>
<body>
<header class="header">
    <a href="#" class="logo"><img src="img/logo.png" alt="logo"
    width="100px" height="100px"></a>
    <nav class="navbars">
        <div id="nav-close" class="fas fa-times"></div>
        <a href="#">Home</a>
       
        
        <a href="#footer">Contact</a>
        
        <a th:href="@{doctor-list}">Doctors List</a>
       <a href="#" class="btn" data-toggle="modal" data-target="#modalAppointment">Appointment</a>
            
        <a sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
        <a sec:authorize="isAnonymous()" th:href="@{/login}">Doctor Login</a>

    </nav>
    <div class="icons">
        <div id="menu-btn" class="fas fa-bars"></div>
    </div>
</header>
<section class="home" id="home">
    <div class="container1">
        <div class="home-wrapper">
            <div class="boxs" style="background: url(/img/bg.jpg) no-repeat;">
                <div class="contents" style="color:#000">
            </div>
            </div>
        </div>
    </div>
</section>
<section class="services" id="service">
    <div class="box-container">
        <div class="box-wrapper">
            <div class="box">
                <h4>Our Doctors</h4>
               
     
            </div>
            <div class="box">
                <h4>Our Services</h4>
                
                
            </div>
            <div class="box">
                <h4>Appointments</h4>
                
              
            </div>
        </div>
    </div>
</section>
<section class="carousels">
    <div class="container">
        <div class="carousel-card">
            <div class="cards" >
                <div class="carousel_card_title">
                    <h5>Cardiologists</h5>
                </div>
                <div class="card_img">
                    <img src="img/card1.png" alt="">
                </div>
                <div class="card_title">
                    <a href="" class="btn">Schedule a Appointment</a>
                </div>
            </div>
            <div class="cards" >
                <div class="carousel_card_title2">
                    <h5>Nephrologists</h5>
                </div>
                <div class="card_img">
                    <img src="img/card2.png" alt="">
                </div>
                <div class="card_title">
                    <a href="" class="btn">Search Out Health Library</a>
                </div>
            </div>
            <div class="cards" >
                <div class="carousel_card_title3">
                    <h5>Neurologist</h5>
                </div>
                <div class="card_img">
                    <img src="img/card3.png" alt="">
                </div>
                <div class="card_title">
                    <a href="" class="btn">Explore Health Benefits</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about-us" id="about">
    <div class="container">
        <div class="title">
            <h3>About Us</h3>
        </div>
        <div class="wrapper-about">
            <div class="image">
                <img src="img/about.jpg" alt="doctor">
            </div>
            <div class="content">
                <p>Hospital Systems is a comprehensive and integrated Hospital Management System 
                tailored to meet the needs of hospital systems, medical centers, multi-specialty 
                clinics, and medical practitioners. This all-encompassing system connects hospitals, 
                satellite clinics, and medical stores through its Multi-Location functionality. 
                Unlike traditional paper-based methods, it leverages technology to pull up server 
                or cloud information swiftly, ensuring top performance.</p>
            </div>
        </div>
        <div class="wrapper-about">
            <div class="image">
                <img src="img/about1.jpg" alt="doctor">
            </div>
            <div class="content">
                <h5>We aim for healthcare that rocks</h5>
                <p> <i> Hospital Management System (HMS) is essential to the delivery of modern healthcare. 
                It can boost patient outcomes, lower medical errors, and improve the overall quality of care. 
                It enables hospitals with a centralized platform to manage their operations, 
                automate mundane processes, and enhance communication.</i></p>
            </div>
        </div>
    </div>
</section>
<section class="donation">
    <div class="title">
        <h4>Hospital Management System. </h4>
        <div class="don-btn">
            <a href="" class="btn" data-toggle="modal" data-target="#modalDonation">Donor</a>
        </div>
    </div>
</section>
<section class="footer" id="footer">
    <div class="box-container">
        <div class="box">
            <img src="img/logo.png" alt="logo">
        </div>
        <div class="box">
            <h3>Visit Links</h3>
            <a href="#home">home</a>
            <a href="#about">about</a>
            <a href="#shop">service</a>
            <a href="#packages">contact</a>
            <a href="#reviews">appointment</a>
            <a href="#blogs">blogs</a>
        </div>
        <div class="box">
            <h3>extra links</h3>
            <a href="#"><i class="fas fa-phone"></i> +91-123-456-789</a>
            <a href="#"><i class="fas fa-phone"></i> +91-123-456-789</a>
            <a href="#"><i class="fas fa-envelope"></i> hospital@gmail.com</a>
            <a href="#"><i class="fas fa-map"></i> Kolkata - 700001</a>
        </div>
        <div class="box">
            <h3>follow us</h3>
            <a href="#"> <i class="fab fa-facebook"></i> facebook</a>
            <a href="#"> <i class="fab fa-twitter"></i> twitter</a>
            <a href="#"> <i class="fab fa-instagram"></i> instagram</a>
            <a href="#"> <i class="fab fa-linkedin"></i> linkedin</a>
        </div>
    </div>
    <div class="credit">Hospital Management System © 2024 HMS. All Rights Reserved.</div>
</section>
<div class="modal fade" id="modalAppointment" tabindex="-1" role="dialog" aria-labelledby="modalAppointmentLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAppointmentLabel">Book Your Appointment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:object="${appointment}" th:action="@{/}" onsubmit="return check()" method="post">
                    <div class="form-group">
                        <label for="appointment_name" class="text-black">Full Name</label>
                        <input type="text" required th:field="*{fullName}" class="form-control" id="appointment_name">
                    </div>
                    <div class="form-group">
                        <label for="appointment_date" class="text-black">Appointment Date and Time</label>
                        <input type="datetime-local" required th:field="*{date}" class="form-control" id="appointment_date">
                    </div>
                    <div class="form-group">
                        <label for="appointment_email" class="text-black">Email</label>
                        <input type="email" required th:field="*{email}" class="form-control" id="appointment_email">
                    </div>
                    <div class="form-group">
                        <label for="appointment_message" class="text-black">Your Problem,Symptoms</label>
                        <textarea required id="appointment_message" class="form-control" th:field="*{message}" cols="30" rows="10"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit"  value="Book Appointment" class="btn btn-primary">
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="modalDonation" tabindex="-1" role="dialog" aria-labelledby="modalDoantionLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDonationLabel">Any Query</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:object="${donor}" th:action="@{/donation}"  method="post">
                    <div class="form-group">
                        <label for="donation_name" class="text-black">Your Full Name</label>
                        <input type="text" th:field="*{fullName}" class="form-control" id="donation_name">
                    </div>
                    <div class="form-group">
                        <label for="donation_email" class="text-black">Your Email</label>
                        <input type="email" th:field="*{email}" class="form-control" id="donation_email">
                    </div>
                    <div class="form-group">
                        <label for="donation_message" class="text-black">Your Message</label>
                        <textarea th:field="*{message}" id="donation_message" class="form-control" cols="30" rows="10"></textarea>
                    </div>
                    <div class="form-group ">
                        <select th:field="*{laboratory.id}" onchange="onstatechange(this)"
                                class="form-control">
                            <option disabled selected value="">Select a Lab Name</option>
                            <option th:each="laboratory : ${laboratories}" th:value="${laboratory.id}"
                                    th:text="${laboratory.labName}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Send Message" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/js/text.js"></script>
</body>
</html>
